@import "partials/base";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.3em;

}

body, html, div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $base-font-name;
  font-weight: $base-font-light;
  font-size: $base-font-size;
  line-height: $line-height;
  letter-spacing: 0.01em;
  color: $black;
  line-height: 1.3em;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: inline-block;
}

.content {
  padding: 0;
  width: 100%;
  height: 100%;
}

.img-container {
  width: 60%;
  margin: 0 auto;
  padding-bottom: $padding-margin-value;
}

.icon-container {
  width: $icon-size;
  height: $icon-size;
  margin: $padding-margin-value/2 auto; 
}

.col {
  width: 100%;
  max-width: 15em;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: $padding-margin-value/2 auto; 
}

.contact {
  padding: $padding-margin-value;
  max-width: 35em;
  margin:0 auto;
}

.van-img-container {
  margin: 0 auto;
  padding-bottom: $padding-margin-value;
  display: inline-block;
}

#logo {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.underline {
  //text-decoration: underline;
  //text-transform: uppercase;
  font-weight: bold;
  //color: #ce691c;
}

header {
  width: 100%;
  //background-color: $pale-blue;
  background-image: radial-gradient(circle, $pale-blue, $accent-color);
  margin: 0 auto;
  h1, h2 {
    margin: 0;
    padding: $padding-margin-value 0;
    font-family: "Mohave";
    text-align: center;
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    color: $white;
    font-size: 2.6em;
  }
  h1 a {
    &:visited {
      color: $white;
    }
  }
  h2 {
    font-size: 1.5em;
    color: $paler-blue;
    text-shadow: 1px 0 1px  $accent-color;
  }
  .logo {
    margin: 0 auto;
    width: 100%;;
    height: 10em;
    display: block;
  }
}

nav {
  width: 100%;
  margin: 0 auto;
  background-color: $pale-blue;
  padding: 0 $padding-margin-value;
  ul {
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 40em;
    li {
      flex-grow: 1;
      padding: $padding-margin-value 0;
      margin: 0 auto;
      text-align: center;
      font-size: 1.3em;
      width:2em;
      &:hover {
        background-color: $pale-blue;
        opacity:0.7;  
      }
    }
  }
  a {
    color: $link-color;
    &:hover {
      color: $white;
    }
    &:visited {
      color: $link-color;
    }
  }
}

a {
  text-decoration: none;
 }

.more {
  display: none;
}

ul {
  list-style: none;
  margin: $padding-margin-value;
  div {
    display: inline-block;
  }
  .icon-container {
    display: inline-block;
  }
  li {
    display: block;
    margin: $padding-margin-value;
    p {
      display: inline-block;
      padding: $padding-margin-value 0;
    }
  }
}
.box {
  margin: $padding-margin-value auto;
  width: 90%;
  display: block;
  min-height: 15em;
  border-bottom-width: 0;
  box-shadow: .5em .5em 0px rgba(0,0,0,.1);
  background-color: $pale-blue;
  h3 {
    width: 100%;
    background-color: #3c3c3c;
    padding: 1em;
    color: $pale-blue;
    font-family: "Mohave";
    text-align: center;
    line-height: 1.3em;
  }
  ul li {
    display: inline-block;
  }

}

section {
  margin: $padding-margin-value auto;
  padding: $padding-margin-value;
  min-height: 5em;
  max-width: 40em;
  h3 {
    text-align: center;
  }
  p {
    padding: $padding-margin-value/2;
    margin: 0 auto;
    text-align: center;
    line-height: 1.3em;
  }
  a {
    &:visited {
      color: $link-color;
    }
  }
}

form {
  margin: 0 auto;
  width: 100%;
  max-width: 30em;
  padding: $padding-margin-value;
}

input[type=text] {
  display: block;
  width: 100%;
  padding: $padding-margin-value/2;
  margin: 0 auto $padding-margin-value auto;
  border: 1px solid $grey;
  color: $black;
}

input[type=email] {
  display: block;
  padding: $padding-margin-value/2;
  margin: 0 auto $padding-margin-value auto;
  width: 100%;
  border: 1px solid $grey;
  color: $black;
}

input[type=number] {
  display: block;
  padding: $padding-margin-value/2;
  margin: 0 auto $padding-margin-value auto;
  width: 100%;
  border: 1px solid $grey;
  color: $black;
}
input[type=submit] {
  display: block;
  padding: $padding-margin-value/2;
  margin: 0 auto $padding-margin-value auto;
  width: 100%;
  border: none;
  box-shadow: .5em .5em 0px rgba(0,0,0,.1);
  background-color: $pale-blue;
  color: $accent-color;
  font-family: "Mohave";
  &:hover {
    opacity:0.7;  
  }
}



textarea {
  display: block;
  width: 100%;
  padding: $padding-margin-value/2;
  margin: 0 auto $padding-margin-value auto;
  border: 1px solid $grey;
  color: $black;
}

footer {
  padding: $padding-margin-value*2 $padding-margin-value;
  background-color: $black;
  color: $white;
  p {
    text-align: center;
  }
  a {
    color: $pale-blue;
  }
  nav {
    width: 100%;
    padding-top: $padding-margin-value;
    background-color: $black;
    li {
      display: inline-block;
      width: auto;
      padding: 0;
      font-size: 1em;
    }
  }
}

